<!doctype html>
<header>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/reset.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <title>Matchie</title>
</header>

<body>

<nav>
        <a href="index.html"><img id="home" src="../static/images/logo-datingssite.png"></a>
  <ul>
    <li><a href="boost.html" id="boost">
        <img src="../static/images/boost.png" class="img" id="imgBoost">
            <div class="notification" id="noteBoost"><p class="number">1</p></div>
            <div class="current" id="currentBoost"></div>
        </a>
    </li>

    <li><a href="likes.html" id="likes">
        <img src="../static/images/likes.png" class="img" id="imgLikes">
            <div class="notification" id="noteLikes"><p class="number">5</p></div>
            <div class="current" id="currentLikes"></div>
          </a>
      </li>

    <li><a href="messages.html" id="messages">
        <img src="../static/images/messages.png" class="img" id="imgMessages">
            <div class="notification" id="noteMessages"><p class="number">2</p></div>
            <div class="current" id="currentMessages"></div>
          </a>
        </li>
  </ul>
</nav>

<main>
    <h2>Messages</h2>
</main>


<script type="text/javascript" src="../static/JS/java.js">
</script>
</body>